.card {
    padding: 2em;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.card.veiled {
    background-color: blue;
}


.card-title {
    font-size: 20px;
}