.card {
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 90px;
    height: 90px;
    margin: 20px;
    font-size: 24px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.card.veiled {
    background-color: blue;
}


.card-title {
    font-size: 20px;
}